<h1><%= @list.name.upcase %></h1>

<% @list.bookmarks.each do |bookmark| %>
  <p>
    Movie: <%= bookmark.movie.title %>
    Comment: <%= bookmark.comment %>
  </p>
<% end %>

<%= link_to 'New Bookmark' , new_list_bookmark_path(@list), class: 'btn btn-primary' %>


<br>
<br>

<%= link_to 'Back to Lists', lists_path, class: 'btn btn-primary' %>
